@import url("Home.css");

.kasa-banner {
    height: 223px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.kasa-banner img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.kasa-banner p {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 500;
    color: white;
}
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait){
    .kasa-banner p {
        font-size: 30px;
        top: 35%;
    }
}
@media (max-width: 767px) and (orientation: portrait){
    .kasa-banner {
        height: 111px;
    }
    .kasa-banner p {
        font-size: 22px;
        width: 65%;
        white-space:break-spaces;
    }
}
@media (max-width: 300px) and (orientation: portrait){
    .kasa-banner {
        height: 85px;
    }
    .kasa-banner p {  
        font-size: 18px;
        width: 65%;
    }
}