@import url("Home.css");

.kasa-footer{
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.kasa-footer h2{
    color:white;
    font-size: 36px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
}
.kasa-footer img{
    width: 26px;
    height: 30px; 
    filter: brightness(100) contrast(0)
}
.kasa-footer p{
    color:white;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

@media (max-width: 767px) and (orientation: portrait){
    .kasa-footer p{
        font-size: 12px;
    }
}